<?xml version="1.0" encoding="utf-8"?>
<!--
    web.config for Azure App Service (Windows) + iisnode.
    Also works for on-prem IIS with iisnode installed.
-->
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^server.js\/debug[\/]?" />
                </rule>
                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}" />
                </rule>
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                    </conditions>
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
        <iisnode
            node_env="production"
            nodeProcessCountPerApplication="1"
            maxConcurrentRequestsPerProcess="1024"
            watchedFiles="web.config;*.js;*.json"
            loggingEnabled="true"
            devErrorsEnabled="false" />
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules" />
                    <add segment="data" />
                    <add segment=".env" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
